@{
    Layout = "~/Views/Shared/_Sidebar_admin.cshtml";
}

@section buttom {
    <ul>
        <li>
            <a href="#"><i class="fa-solid fa-house mx-2"></i> <span>الرئيسية</span></a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-chart-line mx-2"></i>
                <span>اداره المستخدمين </span>
            </a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-book mx-2"></i> <span>اداره الكورسات  </span></a>
        </li>

        <li>
            <a href="#">
                <i class="fa-regular fa-money-bill-1 mx-2"></i>
                <span>اداره الفواتير </span>
            </a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-gear mx-2"></i> <span>التقارير </span></a>

        </li>
        <li>
            <a href="#"><i class="fa-solid fa-gear mx-2"></i> <span>الاعدادات  </span></a>

        </li>
    </ul>
}