@model Luno_platform.Viewmodel.Register_User_Viewmode

@{
    Layout = "~/Views/Shared/_navbar.cshtml";
}

<section class="registration_page Student_registration_page_m">

    <div class="form-container">
        <h2><b>طلب انشاء حساب :</b></h2>
        <p class="subtitle">
            ادخل بياناتك بشكل صحيح وسيتم التواصل معك خلال ساعات قليلة لتفعيل الحساب!<br>
            يوجد لديك حساب بالفعل؟ <span>
                <a href="" class="subtitle_link_login_as_user">ادخل إلى حسابك الآن!</a>
            </span>
        </p>
