@model Luno_platform.Viewmodel.Register_User_Viewmode

@{
    Layout = "~/Views/Shared/_navbar.cshtml";
}

<style>
    .btn-submit {
        background-color: #092C4C; /* اللون الأساسي */
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 25px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

        /* تأثير hover */
        .btn-submit:hover {
            background-color: #0B315A; /* لون قريب وأغمق شوية */
            box-shadow: 0 6px 8px rgba(0,0,0,0

</style>
<section class="registration_page1 ">

    <div class="form-container">
        <h2><b>طلب انشاء حساب :</b></h2>
        <p class="subtitle">
            ادخل بياناتك بشكل صحيح وسيتم التواصل معك خلال ساعات قليلة لتفعيل الحساب!<br>
            يوجد لديك حساب بالفعل؟ <span>
                <a href="" class="subtitle_link_login_as_user">ادخل إلى حسابك الآن!</a>
            </span>
        </p>
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="RegisterInstructor" asp-controller="Account" method="post"
              class="grid-form"  >


            <!-- الاسم الأول -->
            <div class="form-group">
                <div style="position: relative;">
                    <input asp-for="Fname" type="text" required placeholder=" ">
                    <label><i class="fa-solid fa-user"></i> الاسم الأول</label>
                </div>
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>

            <!-- الاسم الأخير -->
            <div class="form-group">
                <div style="position: relative;">
                    <input asp-for="LastName" type="text" required placeholder=" ">
                    <label><i class="fa-solid fa-user"></i> الاسم الأخير</label>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <!-- رقم الهاتف -->
            <div class="form-group full-width">
                <div style="position: relative;">
                    <input asp-for="PhoneNumber" type="tel" required placeholder=" ">
                    <label><i class="fa-solid fa-phone"></i> رقم الهاتف</label>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <!-- الرقم القومي -->
            <div class="form-group">
                <div style="position: relative;">
                    <input asp-for="NationalID" type="number" required placeholder=" ">
                    <label><i class="fa-solid fa-id-card"></i> الرقم القومي</label>
                </div>
                <span asp-validation-for="NationalID" class="text-danger"></span>
            </div>

            @* <!-- النوع -->
            <div class="form-group form-group1" style="margin-bottom: 17px;">
                <select required asp-for="Role">
                    <option value="" disabled selected hidden></option>
                    <option value="student">طالب</option>
                    <option value="instructor">مدرس</option>
                    <option value="parent">ولي امر</option>
                </select>
                <label><i class="fa-solid fa-map-location-dot"></i> النوع </label>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div> *@

            <!-- المادة -->
            <div class="form-group form-group1">
                <div style="position: relative;">
                    <select required asp-for="SubjectID">
                        @foreach (var item in Model.subjects)
                        {
                            <option value="@item.SubjectID">@item.SubjectNameAR</option>
                        }
                        
                    </select>
                    <label><i class="fa-solid fa-book"></i> المادة التخصص</label>
                </div>
                <span asp-validation-for="SubjectID" class="text-danger"></span>
            </div>

            <!-- البريد الإلكتروني -->
            <div class="form-group full-width">
                <div style="position: relative;">
                    <input asp-for="Email" type="email" placeholder=" ">
                    <label><i class="fa-solid fa-envelope"></i> البريد الإلكتروني</label>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- المؤهل -->
            <div class="form-group">
                <div style="position: relative;">
                    <input asp-for="Eligible" type="text" placeholder=" ">
                    <label><i class="fa-solid fa-user"></i> المواهل</label>
                </div>
                <span asp-validation-for="Eligible" class="text-danger"></span>
            </div>

            <!-- الشعار -->
            <div class="form-group">
                <div style="position: relative;">
                    <input asp-for="Motto" type="text" placeholder=" ">
                    <label><i class="fa-solid fa-user"></i> الشعار</label>
                </div>
                <span asp-validation-for="Motto" class="text-danger"></span>
            </div>

            <!-- نبذة عنك -->
            <div class="form-group full-width">
                <div style="position: relative;">
                    <input asp-for="Bio" type="text" required placeholder=" ">
                    <label><i class="fa-solid fa-user"></i> نبذه عنك</label>
                </div>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>

            <!-- كلمة المرور -->
            <div class="form-group password-group">
                <div style="position: relative;">
                    <input asp-for="Password" type="password" required placeholder=" ">
                    <label><i class="fa-solid fa-lock"></i> كلمة المرور</label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- تأكيد كلمة المرور -->
            <div class="form-group password-group">
                <div style="position: relative;">
                    <input asp-for="ConfirmPassword" type="password" required placeholder=" ">
                    <label><i class="fa-solid fa-lock"></i> تأكيد كلمة المرور</label>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
    
            <!-- زر الانضمام -->
            <button class="btn-submit2 full-width" type="submit">
                <i class="fa-solid fa-user-plus"></i> انضم الآن
            </button>

        </form>
</div>
</section>
