@{
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<link rel="stylesheet" href="~/assets/css/Role.css" />

<div class="form-container">

    <div class="role-container">
        <h2 class="title">اختار نوع حسابك</h2>

        <a href="/Account/RegisterStudent" class="role-card">
            <span>طالب</span>
            <div class="arrow"><-----</div>
        </a>

        <a href="/Account/RegisterInstructor" class="role-card">
            <span>مدرس</span>
            <div class="arrow"><-----</div>
        </a>

        <a href="/Account/RegisterParent" class="role-card">
            <span>ولي أمر</span>
            <div class="arrow"><-----</div>
        </a>

        <a href="/Account/RegisterAdmin" class="role-card">
            <span>أدمن</span>
            <div class="arrow"><-----</div>
        </a>

    </div>

</div>
