.exam-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f7fa;
    padding: 15px 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 20px;
    font-weight: bold;
    margin-top:100px;

}

.timer-box {
    background: #ffefef;
    padding: 8px 18px;
    border-radius: 8px;
    color: #c30000;
    font-weight: bold;
    border: 1px solid #c30000;
    font-size: 18px;
}

.question-block {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.question-number {
    font-size: 22px;
    color: #003366;
    margin-bottom: 10px;
}

.question-text {
    font-size: 18px;
    margin-bottom: 15px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-item {
    background: #f8f9fb;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

    .option-item input {
        margin-right: 8px;
    }

.submit-section {
    text-align: center;
    margin-top: 30px;
}

.save-btn {
    background: #007bff;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

    .save-btn:hover {
        background: #0056b3;
    }
