:root {
    --primary: #092c4c;
    --secondary: #F2994A;
}
/* Fix content when sidebar is on the RIGHT */
.main-content {
    margin-right: 260px; /* ??? ??? ????????? */
    padding: 20px;
}

/* Mobile */
@media (max-width: 991px) {
    .main-content {
        margin-right: 0;
    }
}

/* Title */
h2 {
    margin-top:10px;
    margin-right:30px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 20px;
}

/* Table */
.table {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

    /* Header */
    .table thead th {
        background-color: var(--primary);
        color: #fff;
        font-weight: 600;
        padding: 15px;
        border: none;
    }

    /* Body cells */
    .table tbody td {
        padding: 14px;
        color: #333;
        border-color: #f2f2f2;
    }

    /* Hover */
    .table tbody tr:hover {
        background-color: #f8fbff;
    }

    /* Price */
    .table td:nth-child(4) {
        font-weight: 600;
        color: var(--secondary);
    }

/* Badges */
.badge {
    border-radius: 8px;
    padding: 6px 14px;
    font-size: 13px;
    font-weight: 500;
}

/* Badge colors */
.bg-success {
    background-color: #16a34a !important;
}

.bg-warning {
    background-color: var(--secondary) !important;
    color: #fff !important;
}

.bg-danger {
    background-color: #dc2626 !important;
}

/* Mobile */
@media (max-width: 768px) {
    .table {
        font-size: 13px;
    }
}
