.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    background: #fff;
    padding: 25px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    animation: fadeIn 0.3s ease-in-out;
}

.close-btn {
    margin-top: 15px;
    background: #092C4C;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
