@{
    ViewData["Title"] = "Home Page";
    Layout = "_SideBarDashbord";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" asp-controller="Student" asp-action="MainPage">student page</a>
    <a class="btn btn-primary" asp-controller="Student" asp-action="ReportsPage">ReportsPage</a>
</div>
