@{
    Layout = "_SideBarDashbord"; 
}
@section Styles {
<link rel="stylesheet" href="~/assets/css/Subjects.css">
}
<div class="Subjectspage m-3" id="Subjectspage">
    <div class="container text-center mt-3 ">
        <div class="search ">
            <input type="search" class="form-control me-3" placeholder="اكتب للبحث" />
            <i class="fa-solid fa-magnifying-glass icon me-3 btn btn-outline-success me-1 icon"></i>
        </div>
        <div class="mb-3 p-3 btns">
            <button class="btn-btn-secondary me-3" onclick="filterCourse('all')">الكل</button>
            <button class="btn-btn-secondary me-3" onclick="filterCourse('عربي')">عربي</button>
            <button class="btn-btn-secondary me-3" onclick="filterCourse('انجليزي')">انجليزي</button>
            <button class="btn-btn-secondary me-3" onclick="filterCourse('كيمياء')">كيمياء</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover text-center align-middle table_Edit">
                <thead>
                    <tr>
                        <th>ترتيب</th>
                        <th>كود الكورس</th>
                        <th>المحاضرة</th>
                        <th>تفاصيل الكورس</th>
                        <th>الانتهاء من الكورس</th>
                        <th>عرض</th>
                    </tr>
                </thead>
                <tbody id="courseTable">
                    <!-- <tr>
                      <td colspan="6">لا توجد بيانات</td>
                    </tr> -->
                    <tr data-subject="عربي">
                        <td>1</td>
                        <td>CS101</td>
                        <td>مقدمة في الوحده الاولي</td>
                        <td> شرح دروس نجيب محفوظ</td>
                        <td>
                            <span class="text-danger fw-bold">20%</span>
                            <div class="progress">
                                <div class="progress-bar bg-danger" style="width:20%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-info">عرض</button>
                        </td>
                    </tr>
                    <tr data-subject="انجليزي">
                        <td>2</td>
                        <td>WEB202</td>
                        <td>مقدمه في زمن الماضي البسيط</td>
                        <td>تعلم الماضي البسيط</td>
                        <td>
                            <span class="text-danger fw-bold">45%</span>
                            <div class="progress">
                                <div class="progress-bar bg-danger" style="width:45%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-info">عرض</button>
                        </td>
                    </tr>
                    <tr data-subject="انجليزي">
                        <td>3</td>
                        <td>DB303</td>
                        <td>مقدمه عن المضارع التام</td>
                        <td> فهم المضارع التام </td>
                        <td>
                            <span class="text-warning fw-bold">70%</span>
                            <div class="progress">
                                <div class="progress-bar bg-warning" style="width:70%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-info">عرض</button>
                        </td>
                    </tr>
                    <tr data-subject="كيمياء">
                        <td>4</td>
                        <td>REACT404</td>
                        <td>شرح كيمياء العضويه</td>
                        <td> فهم الكيمياء العضويه </td>
                        <td>
                            <span class="text-primary fw-bold">90%</span>
                            <div class="progress">
                                <div class="progress-bar bg-primary" style="width:90%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-info">عرض</button>
                        </td>
                    </tr>
                    <tr data-subject="كيمياء">
                        <td>5</td>
                        <td>SEC505</td>
                        <td>شرح الكيمياء الغير العضويه</td>
                        <td> فهم الكيمياء الغير العضويه</td>
                        <td>
                            <span class="text-primary fw-bold">100%</span>
                            <div class="progress">
                                <div class="progress-bar bg-primary" style="width:100%"></div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-info">عرض</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btnsNextPre">
                <button class="Previous">السابق</button>
                <button class="Next">التالي</button>
            </div>
        </div>
    </div>
    </div>
@section Script {
    <script src="~/assets/js/Subjects.js"></script>
}